.page-header {
  position: relative;
  padding: 11px 20px 13px 21px;
  display: grid;
  grid-template-columns: 1fr 101px 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: $tablet-min-padding;
    grid-gap: 40px;
    grid-template-columns: auto auto;
  }

  @media (min-width: $desktop-width) {
    padding: $desktop-min-padding-double;
  }
}

.page-header--index {
  @media (max-width: $tablet-width - 1px) {
    &::after {
      content: "";
      position: absolute;
      z-index: -2;
      top: 66px;
      right: 0;
      width: 100%;
      height: 302px;
      background: linear-gradient(180deg, $background-green 50%, $background-green 50%), url("../img/index-background-mobile.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  @media (max-width: $tablet-width - 1px) and (min-resolution: 2dppx) {
    &::after {
      background: linear-gradient(180deg, $background-green 50%, $background-green 50%), url("../img/index-background-mobile@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      z-index: -2;
      top: 0;
      right: 0;
      width: 50vw;
      height: 694px;
      background: linear-gradient(90deg, $background-green 50%, $background-green 50%), url("../img/index-background-desktop-1.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: cover;
      background-position: 0 0;
    }
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    &::after {
      background: linear-gradient(90deg, $background-green 50%, $background-green 50%), url("../img/index-background-desktop@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: cover;
      background-position: 0 0;
    }
  }
}

.page-header__logo-picture {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-text {
  padding-top: 6px;
}

.page-header__logo img {
  width: 101px;
  height: 18px;

  @media (min-width: 768px) {
    padding-top: 25px;
    width: 174px;
    height: 52px;
  }

  @media (min-width: 1440px) {
    padding-top: 54px;
    width: 202px;
    height: 59px;
  }
}

.page-header--form,
.page-header--catalog {
  background: $basic-white;
  border-bottom: 1px solid $simple-line-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
