.page-header {
  position: relative;
  padding: 11px 20px 13px 21px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    padding: $tablet-min-padding;
    grid-gap: 40px;
    grid-template-columns: 174px auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    padding: $desktop-min-padding-double;
    background: linear-gradient(90deg, $basic-white 50%, $background-green 50%), url("../img/index-background-desktop-1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 6%, 100% 6%;
  }
}

.page-header__logo-img,
.page-header__logo-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-middle {
  display: none;

  @include tablet-only () {
    display: block;
  }
}

.page-header__logo-big {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-header--form,
.page-header--catalog {
  background: $basic-white;
  border-bottom: 1px solid $simple-line-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
