.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
  }
}

.main-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29.64px;
    color: $basic-white;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened {
    position: absolute;
    top: 65px;
    left: 0;
    background-color: $basic-white;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-nav__item {
    width: 100vw;
    height: 66px;
    text-align: center;
    border-top: 1px solid $line-menu-color;
    border-bottom: 1px solid $line-menu-color;
  }
}
