.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desctop-width) {
    max-width: 478px;
  }
}

.main-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-color: uppercase;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
