.extra-catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }
}

.extra-catalog__list {
  @include list-style-blocks;
}
