.results {
  min-height: 705px;
  background-color: $results-background;

  @media (min-width: $tablet-width) {
    padding: $tablet-min-padding;
    background: linear-gradient(to bottom, $basic-white 65%, $results-background 35%);
  }

  @media (min-width: $desktop-width) {
    padding: $desktop-min-padding;
    background: linear-gradient(to bottom, $basic-white 20%, $results-background 20%);
  }
}

.results__wrapper {
  padding: $min-page-padding;
  padding-top: 27px;
  padding-botton: 25px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.results__title {
  margin-bottom: 33px;
}

.results__data {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.results__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 31px;
}

.results__item {
  position: relative;
}

.results__number {
  margin: 0;
  width: 124px;
  height: 64px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px $line-results-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.results__description {
  position: absolute;
  bottom: -10px;
  left: 18%;
  margin: 15px auto 0 auto;
  width: 87px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $results-background;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.results__legend {
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
