.results {
  min-height: 705px;
  background-color: $results-background;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    background: linear-gradient(to bottom,
     $basic-white 65%, $results-background 35%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom,
     $basic-white 20%, $results-background 20%);
  }
}

.results__wrapper {
  padding: $min-page-padding;
  padding-top: 27px;
  padding-botton: 25px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.results__number {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
}

.results__legend {
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
}
