.form-content {
  padding: $min-page-padding;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: $tablet-min-padding;
  }

  @media (min-width: $desktop-width) {
    padding: $desktop-min-padding;
  }
}

.form-content__subtitle {
  margin-bottom: 19px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
}

.form-content__program-form {
  margin-top: 20px;
}
