.section-title {
  font-weight: 400;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
}

.section-title--form-page {
  padding-bottom: 32px;
  line-height: 26px;
}
