.button {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 18px;
  word-break: break-word;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.button--order {
  color: $basic-white;
  background-color: $button-green;
}

.button--show-all {
  color: $button-special-text-color;
  background-color: $button-special-background;
}

.button--promo {
  color: $basic-white;
  background-color: $button-green;
  margin-left: -5px;
  padding: 10px 44px 13px 44px;

  @media (min-width: $tablet-width) {
    z-index: 2;
    padding: 14px 20px 14px 20px;
    width: 244px;
    min-height: 54px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0px;
  }
}
