.button {
  display: inline-block;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 18px;
  word-break: break-word;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

.button--order {
  color: $basic-white;
  background-color: $button-green;
}

.button--show-all {
  color: $button-special-text-color;
  background-color: $button-special-background;
}

.button--promo {
  color: $basic-white;
  background-color: $button-green;
  padding: 10px 44px 13px 44px;

  @media (min-width: $tablet-width) {
    max-width: 244px;
    padding: 14px 26px 14px 26px;
  }
}
