.catalog {
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    padding-top: 83px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    padding-top: 93px;
  }
}

.catalog__list {
  @include list-style-blocks;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 62px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 68px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
