.catalog__list {
  @include list-style-blocks;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__item {
  width: 320px;
  padding-top: 26px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 324px;
    background: linear-gradient($basic-white 40%, $frames-background 40%);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
