.social {
  @include list-style-blocks;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 130px;

  @media (min-width: $tablet-width) {
    margin: auto 0;
    width: 125px;
  }
}

.social__link svg {
  fill: $dove-grey;

  &:hover,
  &:focus {
    fill: $footer-green-hover;
  }

  &:active {
    fill: $footer-green-hover;
    opacity: 0.3;
  }
}

.social__link--vkontakte svg {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram svg {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook svg {
  width: 22px;
  height: 22px;
  fill: none;
  stroke: $dove-grey;

  &:hover,
  &:focus {
    fill: none;
    stroke: $footer-green-hover;
  }

  &:active {
    stroke: $footer-green-hover;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 29px;
  }
}
