.program-extra {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
     margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
     margin-bottom: 65px;
  }
}

.program-extra__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.program-extra .program-form__option {
  margin-bottom: 25px;

  @media (max-width: $mobile-width-only) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
