.features {
  min-height: 311px;
}

.features__wrapper {
  @include section-margins;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    padding: $tablet-min-padding;
  }

  @media (min-width: $desktop-width) {
    padding: $desktop-min-padding;
  }
}

.features__title {
  margin-bottom: 42px;
}

.features__list {
  @include list-style-blocks;
  display: grid;
  grid-gap: 27px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 153px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 94px;
  }
}

.features__item {
  position: relative;
  margin-left: 60px;
  padding-left: 16px;

    &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -60px;
    width: 60px;
    height: 60px;
    transform: translatey(-50%);
  }
}

.features__item:first-of-type {
  &::before {
    background: url("../img/point_first.svg"), $points-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.features__item:nth-of-type(2) {
  &::before {
    background: url("../img/point_second.svg"), $points-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.features__item:nth-of-type(2) {
  &::before {
    background: url("../img/point_second.svg"), $points-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.features__item:nth-of-type(3) {
  &::before {
    background: url("../img/point_third.svg"), $points-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.features__item:nth-of-type(4) {
  &::before {
    background: url("../img/point_forth.svg"), $points-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

@media (min-width: $tablet-width) {
  .features__item {
    width: 230px;
    min-height: 280px;
  }
}

@media (min-width: $tablet-width) {
  .features__item:nth-child(1) {
    background: url("../img/1.svg") no-repeat 60% 100%;
    background-size: contain;
  }

  .features__item:nth-child(2) {
    background: url("../img/2.svg") no-repeat 60% 100%;
    background-size: contain;
  }

  .features__item:nth-child(3) {
    background: url("../img/3.svg") no-repeat 60% 100%;
    background-size: contain;
  }

  .features__item:nth-child(4) {
    background: url("../img/4.svg") no-repeat 60% 100%;
    background-size: contain;
  }
}
