$basic-white: #ffffff;
$opacity-white: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$extra-black: #222222;
$apple-green: #68b738;
$apple-green-dark: #5eaa2f;
$concrete-grey: #f2f2f2;
$gallery-grey: #eaeaea;
$alto-grey: #d9d9d9;
$alto-grey-dark: #d3d3d3;
$mercury-grey: #e6e6e6;
$mercury-middle-grey: #e7e7e7;
$silver-grey: #cdcdcd;
$tundora-grey: #444444;
$dove-grey: #666666;
$error: #ff8282;
$silver-dark-grey: #bababa;
$frames-background: $concrete-grey;
$results-background: $gallery-grey;
$simple-line-color: $alto-grey;
$line-results-color: $silver-grey;
$line-menu-color: $mercury-grey;
$text-main-color: $tundora-grey;
$button-special-text-color: $tundora-grey;
$button-special-background: $concrete-grey;
$points-green: $apple-green;
$button-green: $apple-green;
$button-green-hover: $apple-green-dark;
$footer-green-hover: $apple-green;
$hover-line: $apple-green;
$background-green: transparentize($apple-green, 0.15);
$form-border: $mercury-middle-grey;
$radio-border-grey: $silver-grey;
$section-title-line: $apple-green;
$input-hover: $silver-grey;
$input-focus: $tundora-grey;
$radio-focus: $silver-dark-grey;
$line-table-color: $silver-grey;
$product--show-all: $alto-grey-dark;
