$basic-white: #ffffff;
$basic-black: #000000;
$apple-green: #68b738;
$concrete-grey: #f2f2f2;
$gallery-grey: #eaeaea;
$alto-grey: #d9d9d9;
$mercury-grey: #e6e6e6;
$silver-grey: #cdcdcd;
$tundora-grey: #444444;
$frames-background: $concrete-grey;
$results-background: $gallery-grey;
$simple-line-color: $alto-grey;
$line-results-color: $silver-grey;
$line-menu-color: $mercury-grey;
$text-main-color: $tundora-grey;
$button-green: $apple-green;
$background-green: transparentize($apple-green, 0.15);
