$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: $tablet-width - 1px;

@mixin tablet-only () {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    @content;
  }
}
