.program-form-contacts {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.program-form-contacts .program-form__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.program-form-contacts .program-form__option {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
