.page-body {
  min-height: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $text-main-color;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.first-level-title,
.second-level-title,
.third-level-title, {
  margin: 0;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
}

.first-level-title {
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
  }
}

.second-level-title {
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.third-level-title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
