.program-form-comment {
  margin: 0 0 23px 0;
  padding: $min-page-padding;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px 0;
    padding: 0 70px 0 69px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 61px 0;
    padding: $desktop-min-padding-double;
  }
}
