.program-form-comment {
  margin-bottom: 23px;
  padding: $min-page-padding;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding: 0 70px 0 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
    padding: $desktop-min-padding-double;
  }
}
