.contacts {
  padding: 28px 19px 22px 19px;
}

.contacts__title {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;
}

.contacts__text {
  line-height: 20px;
}
